<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link rel="stylesheet" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">



    <title>Log In</title>
</head>
<body>

<nav>
    
    

</nav>


<h1 class='title'> Euphoric Apex</h1>


<label>Email: </label>
<input type="text" name="email">
<br>
<label>Password: </label>
<input type="text" name="password">
<br><br>
<h3 href="/auth/google">Sign in with <a href="/auth/google">
    <img src="images/GoogleTrans.png" alt="Google" style="height:30px; width:30px"/>
  </a></h3>
    <br><br>

    <a href="/products" style="color: white">DETAILS</a> <br>
    <a href="/products/new" style="color: white">NEW PRODUCT</a>
</body>
</html>
