/*.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}*/
html { 
  background: url(../images/Euphoria.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  position: center;
}

#nav {
	margin:0;
	padding:0;
  background:rgb(0, 0, 0);
	padding:20px 40px 4px 10px;
}
#nav li {
	display:inline;
	padding:0;
	margin:0;
  color: white;
}

body {
  font-family: 'Cinzel Decorative',cursive; 
  text-align: center;
  padding-top: 100px;
  /*background-image: url(../images/Euphoria.jpg);*/
  background-size: cover;
  height: 100%;
  color: white
}
