<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <title>Cart</title>
</head>
<body>

  <%if (user) {%>
    <nav>
        <ul>
            <li><a href="/">Euphoric Apex</a></li>
            <li><a href="/products/upDelete">Database</a></li>
            <li><a href="/products" style="float:right">Items</a></li>
            <li><a href="/carts" style="float:right">Cart</a></li>
            <li><a href="/logout" class="liLast">Log Out</a></li>
        </ul>
        
    
    </nav>
    <% } else {%>
        <nav>
            <ul>
                <li><a href="/">Euphoric Apex</a></li>
                <li><a href="/products" style="float:right">Items</a></li>
                <li><a href="/carts" style="float:right">Cart</a></li>
                
            </ul>
            
        
        </nav>
    <% } %>


    <table>
        <thead>
            <h1>Cart</h1>

          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Delete Info</th>
          </tr>
        </thead>
        <tbody>
            <% let totalPrice = 0 %>
          <% cartDatabase.forEach(function(c) { %>
            <tr>
              <td><%= c.title %></td>
              <td><%= c.price %></td>
              <% totalPrice ++ %>
              <td>
                <form action="/carts/delete/<%= c?._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Product" style="color:red; background-color:black; font-family:'Cinzel Decorative',cursive; border-radius: 12px;">
                </form></td>
              
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <h3>Total: $<%=totalPrice%> </h3>
        <a href="/products" style="text-align:left;"><button style="border-radius: 12px; font-size: 20px; background-color: black; color: white; font-weight: bold; position: left">Back to Store</button></a>
        <% if (totalPrice > 0) { %>
          <a href="carts/success"><button style="border-radius: 12px; font-size: 20px; color: red; font-weight: bold; position: left">Checkout</button></a>
        <% } %>
</body>
</html>