<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
	<title>Details</title>
</head>
<body>
	<h1><%= productDatabase.title %></h1>
    <a>imageDatabase.pic</a>
    <br>
    <a><%=productDatabase.price%></a>
    <a href="/carts"> <button>Add to Cart</button> </a>
    <br>
    <div><%=productDatabase.details%></div>

</body>
</html>
